:root {
	--ctp-base-hsl: hsl(229, 19%, 23%);
	--ctp-base-raw: 48, 52, 70;
	--ctp-base-rgb: rgb(48, 52, 70);
	--ctp-base: #303446;
	--ctp-blue-hsl: hsl(222, 74%, 74%);
	--ctp-blue-raw: 140, 170, 238;
	--ctp-blue-rgb: rgb(140, 170, 238);
	--ctp-blue: #8caaee;
	--ctp-crust-hsl: hsl(229, 20%, 17%);
	--ctp-crust-raw: 35, 38, 52;
	--ctp-crust-rgb: rgb(35, 38, 52);
	--ctp-crust: #232634;
	--ctp-flamingo-hsl: hsl(0, 59%, 84%);
	--ctp-flamingo-raw: 238, 190, 190;
	--ctp-flamingo-rgb: rgb(238, 190, 190);
	--ctp-flamingo: #eebebe;
	--ctp-green-hsl: hsl(96, 44%, 68%);
	--ctp-green-raw: 166, 209, 137;
	--ctp-green-rgb: rgb(166, 209, 137);
	--ctp-green: #a6d189;
	--ctp-lavender-hsl: hsl(239, 66%, 84%);
	--ctp-lavender-raw: 186, 187, 241;
	--ctp-lavender-rgb: rgb(186, 187, 241);
	--ctp-lavender: #babbf1;
	--ctp-mantle-hsl: hsl(231, 19%, 20%);
	--ctp-mantle-raw: 41, 44, 60;
	--ctp-mantle-rgb: rgb(41, 44, 60);
	--ctp-mantle: #292c3c;
	--ctp-maroon-hsl: hsl(358, 66%, 76%);
	--ctp-maroon-raw: 234, 153, 156;
	--ctp-maroon-rgb: rgb(234, 153, 156);
	--ctp-maroon: #ea999c;
	--ctp-mauve-hsl: hsl(277, 59%, 76%);
	--ctp-mauve-raw: 202, 158, 230;
	--ctp-mauve-rgb: rgb(202, 158, 230);
	--ctp-mauve: #ca9ee6;
	--ctp-overlay0-hsl: hsl(229, 13%, 52%);
	--ctp-overlay0-raw: 115, 121, 148;
	--ctp-overlay0-rgb: rgb(115, 121, 148);
	--ctp-overlay0: #737994;
	--ctp-overlay1-hsl: hsl(227, 17%, 58%);
	--ctp-overlay1-raw: 131, 139, 167;
	--ctp-overlay1-rgb: rgb(131, 139, 167);
	--ctp-overlay1: #838ba7;
	--ctp-overlay2-hsl: hsl(228, 22%, 66%);
	--ctp-overlay2-raw: 148, 156, 187;
	--ctp-overlay2-rgb: rgb(148, 156, 187);
	--ctp-overlay2: #949cbb;
	--ctp-peach-hsl: hsl(20, 79%, 70%);
	--ctp-peach-raw: 239, 159, 118;
	--ctp-peach-rgb: rgb(239, 159, 118);
	--ctp-peach: #ef9f76;
	--ctp-pink-hsl: hsl(316, 73%, 84%);
	--ctp-pink-raw: 244, 184, 228;
	--ctp-pink-rgb: rgb(244, 184, 228);
	--ctp-pink: #f4b8e4;
	--ctp-red-hsl: hsl(359, 68%, 71%);
	--ctp-red-raw: 231, 130, 132;
	--ctp-red-rgb: rgb(231, 130, 132);
	--ctp-red: #e78284;
	--ctp-rosewater-hsl: hsl(10, 57%, 88%);
	--ctp-rosewater-raw: 242, 213, 207;
	--ctp-rosewater-rgb: rgb(242, 213, 207);
	--ctp-rosewater: #f2d5cf;
	--ctp-sapphire-hsl: hsl(199, 55%, 69%);
	--ctp-sapphire-raw: 133, 193, 220;
	--ctp-sapphire-rgb: rgb(133, 193, 220);
	--ctp-sapphire: #85c1dc;
	--ctp-sky-hsl: hsl(189, 48%, 73%);
	--ctp-sky-raw: 153, 209, 219;
	--ctp-sky-rgb: rgb(153, 209, 219);
	--ctp-sky: #99d1db;
	--ctp-subtext0-hsl: hsl(228, 29%, 73%);
	--ctp-subtext0-raw: 165, 173, 206;
	--ctp-subtext0-rgb: rgb(165, 173, 206);
	--ctp-subtext0: #a5adce;
	--ctp-subtext1-hsl: hsl(227, 44%, 80%);
	--ctp-subtext1-raw: 181, 191, 226;
	--ctp-subtext1-rgb: rgb(181, 191, 226);
	--ctp-subtext1: #b5bfe2;
	--ctp-surface0-hsl: hsl(230, 16%, 30%);
	--ctp-surface0-raw: 65, 69, 89;
	--ctp-surface0-rgb: rgb(65, 69, 89);
	--ctp-surface0: #414559;
	--ctp-surface1-hsl: hsl(227, 15%, 37%);
	--ctp-surface1-raw: 81, 87, 109;
	--ctp-surface1-rgb: rgb(81, 87, 109);
	--ctp-surface1: #51576d;
	--ctp-surface2-hsl: hsl(228, 13%, 44%);
	--ctp-surface2-raw: 98, 104, 128;
	--ctp-surface2-rgb: rgb(98, 104, 128);
	--ctp-surface2: #626880;
	--ctp-teal-hsl: hsl(172, 39%, 65%);
	--ctp-teal-raw: 129, 200, 190;
	--ctp-teal-rgb: rgb(129, 200, 190);
	--ctp-teal: #81c8be;
	--ctp-text-hsl: hsl(227, 70%, 87%);
	--ctp-text-raw: 198, 208, 245;
	--ctp-text-rgb: rgb(198, 208, 245);
	--ctp-text: #c6d0f5;
	--ctp-yellow-hsl: hsl(40, 62%, 73%);
	--ctp-yellow-raw: 229, 200, 144;
	--ctp-yellow-rgb: rgb(229, 200, 144);
	--ctp-yellow: #e5c890;
}