:root {
	--ctp-base-hsl: hsl(220, 23%, 95%);
	--ctp-base-raw: 239, 241, 245;
	--ctp-base-rgb: rgb(239, 241, 245);
	--ctp-base: #eff1f5;
	--ctp-blue-hsl: hsl(220, 91%, 54%);
	--ctp-blue-raw: 30, 102, 245;
	--ctp-blue-rgb: rgb(30, 102, 245);
	--ctp-blue: #1e66f5;
	--ctp-crust-hsl: hsl(220, 21%, 89%);
	--ctp-crust-raw: 220, 224, 232;
	--ctp-crust-rgb: rgb(220, 224, 232);
	--ctp-crust: #dce0e8;
	--ctp-flamingo-hsl: hsl(0, 60%, 67%);
	--ctp-flamingo-raw: 221, 120, 120;
	--ctp-flamingo-rgb: rgb(221, 120, 120);
	--ctp-flamingo: #dd7878;
	--ctp-green-hsl: hsl(109, 58%, 40%);
	--ctp-green-raw: 64, 160, 43;
	--ctp-green-rgb: rgb(64, 160, 43);
	--ctp-green: #40a02b;
	--ctp-lavender-hsl: hsl(231, 97%, 72%);
	--ctp-lavender-raw: 114, 135, 253;
	--ctp-lavender-rgb: rgb(114, 135, 253);
	--ctp-lavender: #7287fd;
	--ctp-mantle-hsl: hsl(220, 22%, 92%);
	--ctp-mantle-raw: 230, 233, 239;
	--ctp-mantle-rgb: rgb(230, 233, 239);
	--ctp-mantle: #e6e9ef;
	--ctp-maroon-hsl: hsl(355, 76%, 59%);
	--ctp-maroon-raw: 230, 69, 83;
	--ctp-maroon-rgb: rgb(230, 69, 83);
	--ctp-maroon: #e64553;
	--ctp-mauve-hsl: hsl(266, 85%, 58%);
	--ctp-mauve-raw: 136, 57, 239;
	--ctp-mauve-rgb: rgb(136, 57, 239);
	--ctp-mauve: #8839ef;
	--ctp-overlay0-hsl: hsl(228, 11%, 65%);
	--ctp-overlay0-raw: 156, 160, 176;
	--ctp-overlay0-rgb: rgb(156, 160, 176);
	--ctp-overlay0: #9ca0b0;
	--ctp-overlay1-hsl: hsl(231, 10%, 59%);
	--ctp-overlay1-raw: 140, 143, 161;
	--ctp-overlay1-rgb: rgb(140, 143, 161);
	--ctp-overlay1: #8c8fa1;
	--ctp-overlay2-hsl: hsl(232, 10%, 53%);
	--ctp-overlay2-raw: 124, 127, 147;
	--ctp-overlay2-rgb: rgb(124, 127, 147);
	--ctp-overlay2: #7c7f93;
	--ctp-peach-hsl: hsl(22, 99%, 52%);
	--ctp-peach-raw: 254, 100, 11;
	--ctp-peach-rgb: rgb(254, 100, 11);
	--ctp-peach: #fe640b;
	--ctp-pink-hsl: hsl(316, 73%, 69%);
	--ctp-pink-raw: 234, 118, 203;
	--ctp-pink-rgb: rgb(234, 118, 203);
	--ctp-pink: #ea76cb;
	--ctp-red-hsl: hsl(347, 87%, 44%);
	--ctp-red-raw: 210, 15, 57;
	--ctp-red-rgb: rgb(210, 15, 57);
	--ctp-red: #d20f39;
	--ctp-rosewater-hsl: hsl(11, 59%, 67%);
	--ctp-rosewater-raw: 220, 138, 120;
	--ctp-rosewater-rgb: rgb(220, 138, 120);
	--ctp-rosewater: #dc8a78;
	--ctp-sapphire-hsl: hsl(189, 70%, 42%);
	--ctp-sapphire-raw: 32, 159, 181;
	--ctp-sapphire-rgb: rgb(32, 159, 181);
	--ctp-sapphire: #209fb5;
	--ctp-sky-hsl: hsl(197, 97%, 46%);
	--ctp-sky-raw: 4, 165, 229;
	--ctp-sky-rgb: rgb(4, 165, 229);
	--ctp-sky: #04a5e5;
	--ctp-subtext0-hsl: hsl(233, 10%, 47%);
	--ctp-subtext0-raw: 108, 111, 133;
	--ctp-subtext0-rgb: rgb(108, 111, 133);
	--ctp-subtext0: #6c6f85;
	--ctp-subtext1-hsl: hsl(233, 13%, 41%);
	--ctp-subtext1-raw: 92, 95, 119;
	--ctp-subtext1-rgb: rgb(92, 95, 119);
	--ctp-subtext1: #5c5f77;
	--ctp-surface0-hsl: hsl(223, 16%, 83%);
	--ctp-surface0-raw: 204, 208, 218;
	--ctp-surface0-rgb: rgb(204, 208, 218);
	--ctp-surface0: #ccd0da;
	--ctp-surface1-hsl: hsl(225, 14%, 77%);
	--ctp-surface1-raw: 188, 192, 204;
	--ctp-surface1-rgb: rgb(188, 192, 204);
	--ctp-surface1: #bcc0cc;
	--ctp-surface2-hsl: hsl(227, 12%, 71%);
	--ctp-surface2-raw: 172, 176, 190;
	--ctp-surface2-rgb: rgb(172, 176, 190);
	--ctp-surface2: #acb0be;
	--ctp-teal-hsl: hsl(183, 74%, 35%);
	--ctp-teal-raw: 23, 146, 153;
	--ctp-teal-rgb: rgb(23, 146, 153);
	--ctp-teal: #179299;
	--ctp-text-hsl: hsl(234, 16%, 35%);
	--ctp-text-raw: 76, 79, 105;
	--ctp-text-rgb: rgb(76, 79, 105);
	--ctp-text: #4c4f69;
	--ctp-yellow-hsl: hsl(35, 77%, 49%);
	--ctp-yellow-raw: 223, 142, 29;
	--ctp-yellow-rgb: rgb(223, 142, 29);
	--ctp-yellow: #df8e1d;
}