:root {
	--ctp-base-hsl: hsl(232, 23%, 18%);
	--ctp-base-raw: 36, 39, 58;
	--ctp-base-rgb: rgb(36, 39, 58);
	--ctp-base: #24273a;
	--ctp-crust-hsl: hsl(236, 23%, 12%);
	--ctp-crust-raw: 24, 25, 38;
	--ctp-crust-rgb: rgb(24, 25, 38);
	--ctp-crust: #181926;
	--ctp-flamingo-hsl: hsl(0, 58%, 86%);
	--ctp-flamingo-raw: 240, 198, 198;
	--ctp-flamingo-rgb: rgb(240, 198, 198);
	--ctp-flamingo: #f0c6c6;
	--ctp-mantle-hsl: hsl(233, 23%, 15%);
	--ctp-mantle-raw: 30, 32, 48;
	--ctp-mantle-rgb: rgb(30, 32, 48);
	--ctp-mantle: #1e2030;
	--ctp-overlay0-hsl: hsl(230, 12%, 49%);
	--ctp-overlay0-raw: 110, 115, 141;
	--ctp-overlay0-rgb: rgb(110, 115, 141);
	--ctp-overlay0: #6e738d;
	--ctp-overlay1-hsl: hsl(228, 15%, 57%);
	--ctp-overlay1-raw: 128, 135, 162;
	--ctp-overlay1-rgb: rgb(128, 135, 162);
	--ctp-overlay1: #8087a2;
	--ctp-overlay2-hsl: hsl(228, 20%, 65%);
	--ctp-overlay2-raw: 147, 154, 183;
	--ctp-overlay2-rgb: rgb(147, 154, 183);
	--ctp-overlay2: #939ab7;
	--ctp-peach-hsl: hsl(21, 86%, 73%);
	--ctp-peach-raw: 245, 169, 127;
	--ctp-peach-rgb: rgb(245, 169, 127);
	--ctp-peach: #f5a97f;
	--ctp-red-hsl: hsl(351, 74%, 73%);
	--ctp-red-raw: 237, 135, 150;
	--ctp-red-rgb: rgb(237, 135, 150);
	--ctp-red: #ed8796;
	--ctp-rosewater-hsl: hsl(10, 58%, 90%);
	--ctp-rosewater-raw: 244, 219, 214;
	--ctp-rosewater-rgb: rgb(244, 219, 214);
	--ctp-rosewater: #f4dbd6;
	--ctp-subtext0-hsl: hsl(227, 27%, 72%);
	--ctp-subtext0-raw: 165, 173, 203;
	--ctp-subtext0-rgb: rgb(165, 173, 203);
	--ctp-subtext0: #a5adcb;
	--ctp-subtext1-hsl: hsl(228, 39%, 80%);
	--ctp-subtext1-raw: 184, 192, 224;
	--ctp-subtext1-rgb: rgb(184, 192, 224);
	--ctp-subtext1: #b8c0e0;
	--ctp-surface0-hsl: hsl(230, 19%, 26%);
	--ctp-surface0-raw: 54, 58, 79;
	--ctp-surface0-rgb: rgb(54, 58, 79);
	--ctp-surface0: #363a4f;
	--ctp-surface1-hsl: hsl(231, 16%, 34%);
	--ctp-surface1-raw: 73, 77, 100;
	--ctp-surface1-rgb: rgb(73, 77, 100);
	--ctp-surface1: #494d64;
	--ctp-surface2-hsl: hsl(230, 14%, 41%);
	--ctp-surface2-raw: 91, 96, 120;
	--ctp-surface2-rgb: rgb(91, 96, 120);
	--ctp-surface2: #5b6078;
	--ctp-teal-hsl: hsl(171, 47%, 69%);
	--ctp-teal-raw: 139, 213, 202;
	--ctp-teal-rgb: rgb(139, 213, 202);
	--ctp-teal: #8bd5ca;
	--ctp-text-hsl: hsl(227, 68%, 88%);
	--ctp-text-raw: 202, 211, 245;
	--ctp-text-rgb: rgb(202, 211, 245);
	--ctp-text: #cad3f5;
}