:root {
	--ctp-base-hsl: hsl(240, 21%, 15%);
	--ctp-base-raw: 30, 30, 46;
	--ctp-base-rgb: rgb(30, 30, 46);
	--ctp-base: #1e1e2e;
	--ctp-blue-hsl: hsl(217, 92%, 76%);
	--ctp-blue-raw: 137, 180, 250;
	--ctp-blue-rgb: rgb(137, 180, 250);
	--ctp-blue: #89b4fa;
	--ctp-crust-hsl: hsl(240, 23%, 9%);
	--ctp-crust-raw: 17, 17, 27;
	--ctp-crust-rgb: rgb(17, 17, 27);
	--ctp-crust: #11111b;
	--ctp-flamingo-hsl: hsl(0, 59%, 88%);
	--ctp-flamingo-raw: 242, 205, 205;
	--ctp-flamingo-rgb: rgb(242, 205, 205);
	--ctp-flamingo: #f2cdcd;
	--ctp-green-hsl: hsl(115, 54%, 76%);
	--ctp-green-raw: 166, 227, 161;
	--ctp-green-rgb: rgb(166, 227, 161);
	--ctp-green: #a6e3a1;
	--ctp-lavender-hsl: hsl(232, 97%, 85%);
	--ctp-lavender-raw: 180, 190, 254;
	--ctp-lavender-rgb: rgb(180, 190, 254);
	--ctp-lavender: #b4befe;
	--ctp-mantle-hsl: hsl(240, 21%, 12%);
	--ctp-mantle-raw: 24, 24, 37;
	--ctp-mantle-rgb: rgb(24, 24, 37);
	--ctp-mantle: #181825;
	--ctp-maroon-hsl: hsl(350, 65%, 77%);
	--ctp-maroon-raw: 235, 160, 172;
	--ctp-maroon-rgb: rgb(235, 160, 172);
	--ctp-maroon: #eba0ac;
	--ctp-mauve-hsl: hsl(267, 84%, 81%);
	--ctp-mauve-raw: 203, 166, 247;
	--ctp-mauve-rgb: rgb(203, 166, 247);
	--ctp-mauve: #cba6f7;
	--ctp-overlay0-hsl: hsl(231, 11%, 47%);
	--ctp-overlay0-raw: 108, 112, 134;
	--ctp-overlay0-rgb: rgb(108, 112, 134);
	--ctp-overlay0: #6c7086;
	--ctp-overlay1-hsl: hsl(230, 13%, 55%);
	--ctp-overlay1-raw: 127, 132, 156;
	--ctp-overlay1-rgb: rgb(127, 132, 156);
	--ctp-overlay1: #7f849c;
	--ctp-overlay2-hsl: hsl(228, 17%, 64%);
	--ctp-overlay2-raw: 147, 153, 178;
	--ctp-overlay2-rgb: rgb(147, 153, 178);
	--ctp-overlay2: #9399b2;
	--ctp-peach-hsl: hsl(23, 92%, 75%);
	--ctp-peach-raw: 250, 179, 135;
	--ctp-peach-rgb: rgb(250, 179, 135);
	--ctp-peach: #fab387;
	--ctp-pink-hsl: hsl(316, 72%, 86%);
	--ctp-pink-raw: 245, 194, 231;
	--ctp-pink-rgb: rgb(245, 194, 231);
	--ctp-pink: #f5c2e7;
	--ctp-red-hsl: hsl(343, 81%, 75%);
	--ctp-red-raw: 243, 139, 168;
	--ctp-red-rgb: rgb(243, 139, 168);
	--ctp-red: #f38ba8;
	--ctp-rosewater-hsl: hsl(10, 56%, 91%);
	--ctp-rosewater-raw: 245, 224, 220;
	--ctp-rosewater-rgb: rgb(245, 224, 220);
	--ctp-rosewater: #f5e0dc;
	--ctp-sapphire-hsl: hsl(199, 76%, 69%);
	--ctp-sapphire-raw: 116, 199, 236;
	--ctp-sapphire-rgb: rgb(116, 199, 236);
	--ctp-sapphire: #74c7ec;
	--ctp-sky-hsl: hsl(189, 71%, 73%);
	--ctp-sky-raw: 137, 220, 235;
	--ctp-sky-rgb: rgb(137, 220, 235);
	--ctp-sky: #89dceb;
	--ctp-subtext0-hsl: hsl(228, 24%, 72%);
	--ctp-subtext0-raw: 166, 173, 200;
	--ctp-subtext0-rgb: rgb(166, 173, 200);
	--ctp-subtext0: #a6adc8;
	--ctp-subtext1-hsl: hsl(227, 35%, 80%);
	--ctp-subtext1-raw: 186, 194, 222;
	--ctp-subtext1-rgb: rgb(186, 194, 222);
	--ctp-subtext1: #bac2de;
	--ctp-surface0-hsl: hsl(237, 16%, 23%);
	--ctp-surface0-raw: 49, 50, 68;
	--ctp-surface0-rgb: rgb(49, 50, 68);
	--ctp-surface0: #313244;
	--ctp-surface1-hsl: hsl(234, 13%, 31%);
	--ctp-surface1-raw: 69, 71, 90;
	--ctp-surface1-rgb: rgb(69, 71, 90);
	--ctp-surface1: #45475a;
	--ctp-surface2-hsl: hsl(233, 12%, 39%);
	--ctp-surface2-raw: 88, 91, 112;
	--ctp-surface2-rgb: rgb(88, 91, 112);
	--ctp-surface2: #585b70;
	--ctp-teal-hsl: hsl(170, 57%, 73%);
	--ctp-teal-raw: 148, 226, 213;
	--ctp-teal-rgb: rgb(148, 226, 213);
	--ctp-teal: #94e2d5;
	--ctp-text-hsl: hsl(226, 64%, 88%);
	--ctp-text-raw: 205, 214, 244;
	--ctp-text-rgb: rgb(205, 214, 244);
	--ctp-text: #cdd6f4;
	--ctp-yellow-hsl: hsl(41, 86%, 83%);
	--ctp-yellow-raw: 249, 226, 175;
	--ctp-yellow-rgb: rgb(249, 226, 175);
	--ctp-yellow: #f9e2af;
}